<div class="container">
        <!-- <a class="page-title">Web Development</a> -->
        <a href="#" id="NavMobileButton" data-activates="NavMobile" class="button-collapse waves-effect waves-light top-nav hide-on-large-only right"><i class="material-icons">menu</i></a>
</div>
<ul id="NavMobile" class="side-nav fixed">
    <li class="logo teal"><a href="/" id="LogoContainer" class="brand-logo"><img id="SoBoredLogo" src="/images/logo.png" alt="SoBored Logo"></a></li>
    <!-- <li class="logo teal"><a href="/" id="LogoContainer" class="brand-logo">SoBo.red</a></li> -->
    {% for category in site.categories %}
        <li>
            <a href="/categories/{{ category|first }}/">
                {{ category|first }}
                <span class="badge">
                    {{ category|last|size }}
                </span>
            </a>
        </li>
    {% endfor %}
</ul>
