<ul class="soc">
    {% if site.footer-links.dribbble %}<li><a class="soc-dribbble" href="https://dribbble.com/{{ site.footer-links.dribbble }}"></a></li>{% endif %}
    {% if site.footer-links.email %}<li><a class="soc-email1" href="mailto:{{ site.footer-links.email }}"></a></li>{% endif %}
    {% if site.footer-links.facebook %}<li><a class="soc-facebook" href="https://www.facebook.com/{{ site.footer-links.facebook }}"></a></li>{% endif %}
    {% if site.footer-links.flickr %}<li><a class="soc-flickr" href="https://www.flickr.com/{{ site.footer-links.flickr }}"></a></li>{% endif %}
    {% if site.footer-links.github %}<li><a class="soc-github" href="https://github.com/{{ site.footer-links.github }}"></a></li>{% endif %}
    {% if site.footer-links.instagram %}<li><a class="soc-instagram" href="https://instagram.com/{{ site.footer-links.instagram }}"></a></li>{% endif %}
    {% if site.footer-links.linkedin %}<li><a class="soc-linkedin" href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"></a></li>{% endif %}
    {% if site.footer-links.pinterest %}<li><a class="soc-pinterest" href="https://www.pinterest.com/{{ site.footer-links.pinterest }}"></a></li>{% endif %}
    {% if site.footer-links.rss %}<li><a class="soc-rss" href="{{ site.baseurl }}/feed.xml"></a></li>{% endif %}
    {% if site.footer-links.twitter %}<li><a class="soc-twitter" href="https://www.twitter.com/{{ site.footer-links.twitter }}"></a></li>{% endif %}
    {% comment %}{% if site.footer-links.stackoverflow %}<li><a class="soc-" href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}"></a></li>{% endif %}{% endcomment %}
    {% if site.footer-links.youtube %}<li><a class="soc-youtube" href="https://youtube.com/{{ site.footer-links.youtube }}"></a></li>{% endif %}
    {% if site.footer-links.googleplus %}<li><a class="soc-google soc-icon-last" href="https://plus.google.com/{{ site.footer-links.googleplus }}"></a></li>{% endif %}
</ul>
