.social-links {
    a {
        &:hover {
            text-decoration: underline;
        }
    }

    i.fa,
    i.icon-logo {
        display: inline-block;
        min-width: 22px;
    }
}
