a {
    &.button-collapse.top-nav {
        width: 50px;
        color: #fff;
        font-size: 32px;
        position: absolute;
        top: 0;
        right: 0;
        text-align: center;
    }
}

#NavMobile {
    li {
        a#LogoContainer {
            font-family: 'Space Mono', monospace;
            font-size: 36px;
            color: white;
            line-height: 87px;
            height: 87px;
            padding: 0;

            img {
                vertical-align: middle;
            }
        }
    }
}
