.posts {
    article.post {
        h4 {
            a {
                color: $teal;
            }
        }
    }
}

.post {
    blockquote.post-date {
        margin: 0;
        border-color: $teal;
    }
}
