.posts {
    article.post {
        padding: 10px 20px;
        margin-bottom: 5px;
        width: 100%;

        .post-title {
            font-size: 24px;
            margin-bottom: -8px;
        }
    }
    .row {
        margin-bottom: 0;
    }
}

.post {
    &.individual-post {
        .note-protip {
            border-color: green;
        }

        #markdown-toc {
            background: #eef;
            border: 1px solid #d5d5e9;
            padding: 5px;

            ul {
                padding-left: 20px;
            }

            @media only screen and (min-width: 992px) {
                float: right;
                margin-left: 10px;
            }
        }
    }

    blockquote.post-date {
        margin: 0;
        border-color: $teal;
    }

    a {
        &:hover {
            text-decoration: underline;
        }
    }
}
