<!DOCTYPE html>
<html>
    {% include head.html %}

  <body>
    <header id="LayoutHeader">
        {% include header.html %}
    </header>

    <main id="LayoutContent">
        {% include layout-banner.html %}
        {{ content }}
    </main>

    <footer id="LayoutFooter" class="page-footer cyan darken-4">
        <div class="row">
            <div class="col 16 s12">
                <h5 class="white-text">SoBo.red Blog</h5>
                <p class="grey-text text-lighten-4">Where Josh archives what he learns.</p>
            </div>
            <div class="col 14 offset-12 s12">
                <h5 class="white-text">Connect</h5>
                <ul class="social-links">
                    <li><i class="teal-text text-lighten-3 fa fa-github"></i> <a class="white-text" href="http://github.com/jbh" target="_blank">jbh</a></li>
                    <li><i class="teal-text text-lighten-3 fa fa-twitter"></i> <a class="white-text" href="http://twitter.com/tweetjbh" target="_blank">tweetjbh</a></li>
                    <li><i class="teal-text text-lighten-3 fa fa-rss"></i> <a class="white-text" href="/feed.xml">rss</a></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="row">
                <div class="col s12 m9 teal-text text-lighten-3">© {{ 'now' | date: '%Y' }}, All rights reserved.</div>
            </div>
        </div>
    </footer>


    {% include scripts.html %}
  </body>
</html>
