---
layout: default
---

<article class="post individual-post">
    <div class="row">
        <div class="col s12 m9">
            <!-- <h1>{{ page.title }}</h1> -->

            <blockquote class="post-date"><strong>{{ page.date | date: "%B %e, %Y" }}</strong></blockquote>

            <div class="card-panel entry">
                {{ content }}
            </div>

            <div class="card-panel">
                {% include disqus.html %}
            </div>
        </div>
    </div>
</article>
